<!DOCTYPE html>

<html lang="en">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

<p>
    {% for url in files %}
        {{url|safe}}<br>
    {% endfor %}
</p>

</html>

