<!DOCTYPE html>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">


<html lang="en">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<title>{{TITLE}}</title>

<div id="centeredmenu">
    <ul>
        <li><a href={{ url_for('home') }}>HOME</a></li>
        <li><a href={{ url_for('intro') }}>HELP</a></li>
        <li><a href={{ url_for('about') }}>ABOUT</a></li>
        <li><a href={{ url_for('todo') }}>TODO</a></li>
        <li><img src={{ url_for('static', filename='favicon2_200.png') }} alt='wmd' style="max-height:40px">
    </ul>
</div> <br>

</html>

