<!DOCTYPE html>
<html lang="en">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

<body>
    <h1>{{page_title}}</h1>
    <p>{{text_introduction|safe}}</p>
</body>

<body>
    <h3>Demo using sample data!</h3>
        <form action = {{ url_for('analysis_results_browser', file_id="DEMO_DATA_1.tsv") }} method = "POST" 
            enctype = "multipart/form-data">
            <input class = 'button' type = "submit" value = "SAMPLE DATA 1"/>
        </form>

    <h3>Submit file (.txt, .csv, .tsv, .xls?, .fwf?):</h3>
        <form action = {{ url_for('upload_file') }} method = "POST" 
            enctype = "multipart/form-data">
            <input  type = "file" name = "file" value = "Browse..." />
            <p>
            <input class = 'button' type = "submit" value = "Submit file"/>
        </form>

    <!--
    <h3>... or paste in a tab-separated file content:</h3>
        <form action = {{url_for('paste_text')}} method = "POST">
            <textarea type="text" name="text"></textarea>
            <p>
            <input class="button submit_large_button" type="submit" name="my-form" value="Submit text">
        </form>
    -->
</body>


</html>

