<!DOCTYPE html>
<html lang="en">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

<body>

<h1>{{page_title}}</h1>

<ol class="d">
    {% for line in text %}
        <li>{{line|safe}}</li>
        <br>
    {% endfor %}
</ol>

</body>

</html>
