<!DOCTYPE html>

<html lang="en">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<title>{{TITLE}}</title>


<h2>{{page_title}}</h2>

<div class=page>
    {% for link in links %}
        <form action = {{link}} method = "POST">
                <button class='button submit_button' type="submit">Go!</button>
        </form>
    {% endfor %}
</div>
</html>
