<!DOCTYPE html>

<html lang="en">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<title>{{TITLE}}</title>


<h2>{{page_title}}</h2>

<div class=page>
    {% for link in links %}
        <form action = {{link}} method = "POST">
                <button class='button submit_button' type="submit">Analyze column</button>
        </form>
    {% endfor %}
</div>

<div class=page>
    {% for text in texts %}
        <h3>{{titles_texts[loop.index]}}</h3>
        <p>{{text}}</p>
    {% endfor %}
</div>

<div class=page>
    {% for table in tables %}
        <h3>{{titles_tables[loop.index]}}</h3>
        <p>{{descr_tables[loop.index]}}</p>
        <span class="table">{{ table|safe }}</span>
    {% endfor %}
</div>


<div class=page>
    {% for plot in plots %}
        <h3>{{titles_plots[loop.index]}}</h3>
        <p>{{descr_plots[loop.index]}}</p>
        <img src="data:image/png;base64, {{ plot|safe }}" alt="alt" height="500">
    {% endfor %}
</div>

<hr>

</html>



<!--

<div class=page>
    {% for link in external_links %}
        <form action = {{link}} method = "POST">
                <button class='button submit_button' type="submit">Go to EBI</button>
        </form>
    {% endfor %}
</div>


<form action = {{url_for('home')}} method = "POST">
http://www.ebi.ac.uk/ena/data/view/{{sample_id}}
        <button type="submit">Go to ENA page for this project</button>
</form
-->
