<!DOCTYPE html>
<html lang="en">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

<h1>{{page_title}}</h1>
<div class=page>
    <p>
    {% for line in text %}
        {{line|safe}}<br>
    {% endfor %}
    </p>
</div>
</html>
