/********************* Colour reference chart****************
*************************** comment ********* colour ******** 

theme1                       t1               #567890
theme2                       t2               #abcdef

ORANGE-YELLOW
#eab934

ORANGE-RED
#ea5234

ORANGE-LIGHT 
#e7d7ad

#a, h1, h2       { color: #259FAA; }
    HOVER: background-color:#7cc5cc ;
*/

body            { font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
                    color: #000000; background-color: #ffffff;
                    margin:0 0 0 0px;
                    padding:0px 30px;
                    }
a               { color: #ea5234; }
h1, h2          { color: #eab934; }
h1              { margin: 10; text-transform: uppercase; border-bottom: 2px solid #eee; }
h2              { margin: 10; font-size: 1.2em; }
h3              { color: #797987; background-color: #ffffff;}

/*
*/

ol.d {
        list-style-type: lower-alpha;
}

.FlagIssue   {
    color: #c000c0;
    text-decoration: underline;
    cursor: pointer;
}

.FlagIssue {
    position: relative;
    display: inline-block;
}

.FlagIssue-content {
    padding: 12px 12px;
    box-sizing: border-box;
    border: 0px solid #ccc;
    color: #000000;
    background-color: #ffd199;
    display: none;
    position: absolute;
    min-width: 0px;
    z-index: 1;
}

.FlagIssue-content a {
    display: block;
}

.FlagIssue-content a:hover {background-color: #f1f1f1}

.FlagIssue:hover .FlagIssue-content {
    width: 200px;
    display: block;
}

.FlagIssue:hover .FlagIssue-infobox {
    background-color: #ccc;
    background-color: #ffd199;
}

.FlagStats  {
    color: #804000
}

.FlagURL  {
    color: #204000
}

.FlagFindPattern  {
    color: #804030
}

.FlagID  {
    color: #804830
}

.Comment { color: #c00000; font-weight: bold; }
.Constant { color: #0000c0; text-decoration: underline; }
.Identifier { color: #804000; text-decoration: underline; }
.Statement { color: #008080; font-weight: bold; }
.PreProc { color: #c000c0; text-decoration: underline; }

/*
.data1 th {
  background-color: #add8e6;
  color: white;
}
*/
.button {
    background-color: #eab934;
    border: none;
    color: white;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase; 
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.2s;
    cursor: pointer;
    border: 0px solid #ccc;
}
.button:hover {
    background-color:#ea5234 ;
}

.submit_button { 
    line-height: 1.3em;
}

input[type=text] {
    width: 300;
    font-size: 16px;
    color: black;
    line-height:1.3em;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 0px solid #ccc;
    background-color: #f8f8f8;
    background-color: #eab934;
    background-color:#797987;
    background:#E0E1DC;
    resize: none;
}

.submit_large_button { 
    line-height: 1.3em;
}

textarea[type=text] {
    width: 70%;
    height: 300px;
    font-size: 16px;
    color: black;
    line-height:1.3em;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 0px solid #ccc;
    background-color: #f8f8f8;
    background-color: #eab934;
    background-color:#797987;
    background:#E0E1DC;
    resize: none;
}

table.dataframe, .dataframe th, .dataframe td {
  border: none;
  border-bottom: 3px solid #C8C8C8;
  border-collapse: collapse;
  text-align:left;
  padding: 10px;
  margin-bottom: 40px;
  font-size: 0.9em;
  font-family: "Monospace";
}

.chose_button { 
    line-height: 1.3em;
    width: 500;
}

.table th {
    background-color: #ea5234;
    color: #E0E1DC;
    color: #000;
}

tr:nth-child(odd)     { background-color:#eee; }
tr:nth-child(even)    { background-color:#fff; }
tr:hover              { background-color: #e7d7ad; }


#centeredmenu {
    float:left;
    width:100%;
    background:#E0E1DC;
    border-bottom:4px solid #000;
    overflow:hidden;
    position:relative;
    margin:0;
    padding:0;
}
#centeredmenu ul {
    clear:left;
    float:left;
    list-style:none;
    margin:0;
    padding:0;
    position:relative;
    left:50%;
    text-align:center;
}
#centeredmenu ul li {
    display:block;
    float:left;
    list-style:none;
    margin:0;
    padding:0;
    position:relative;
    right:50%;
}
#centeredmenu ul li a {
    display:block;
    margin:0 0 0 0px;
    padding:11px;
    width: 150px;
    background:#E0E1DC;
    color:#797987;
    text-decoration:none;
    text-transform: uppercase; 
    line-height:1.3em;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.2s;
    cursor: pointer;
}
#centeredmenu ul li a:hover {
    background:#eab934;
    color:#fff;
}
#centeredmenu ul li a.active,
#centeredmenu ul li a.active:hover {
    color:#fff;
    background:#000;
    font-weight:bold;
}
